/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-title {
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: black;
    border-radius: 20px;
    color: yellow;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Star Wars', sans-serif;
}
