@model IEnumerable<StarWarsApiCSharp.Film>
@{
  ViewBag.Title = "Star Wars - Films";
}


<main>

  <div class="page-title col-8 offset-2">
    <h1><i class="bi bi-film"></i> Films</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Episode</th>
        <th>Release Date</th>
        <th>Directed By</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        string obj = Json.Encode(item);
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Title)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.EpisodeId)
          </td>
          <td>
            @Html.Raw(item.ReleaseDate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Director)
          </td>
          <td>
            <button type="button" class="btn btn-light" onclick="openDetails('@obj')" data-bs-toggle="tooltip" data-bs-title="Abrir Detalhes"><i class="bi bi-arrow-right-circle-fill"></i></button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</main>

@section scripts {
  <script type="text/javascript">

    function openDetails(data) {
      if (typeof (data) == "string")
        data = JSON.parse(data.replaceAll("\r", "").replaceAll("\n", "<br/>"));

      const info = [
        ["Episode", data.EpisodeId],
        ["Release Date", data.ReleaseDate],
        ["Director", data.Director],
        ["Producer", data.Producer],
        ["Opening", data.OpeningCrawl],
        ["Characters", data.Characters.length],
        ["Planets", data.Planets.length],
        ["Species", data.Species.length],
        ["Starships", data.Starships.length],
        ["Vehicles", data.Vehicles.length]
      ];

      openDetailsModal("Star Wars: " + data.Title, info);
    }    
  </script>
} 
